body {
	background: #003;
}

#controls {
	opacity: .3;
	transition:all .3s ease;

	position: absolute;
	bottom: 0
	left:0;
	right:0;
	padding: 1em;
	z-index: 9999;
	text-align: right;
}
	#controls:hover {
		opacity: 1;
	}
	button {
		display:block;
	}

card {
	width: 4.5cm;
	height: 4.5cm;
	color: #fff;
	padding: 0 .5cm;
	border-radius: .25cm;
	margin: 1.5mm;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	page-break-inside: avoid;
	background-size: cover;
	display: none;
}

h1 {
	font-size:1.5em;
	font-weight: 100;

	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	top:0;
	background:linear-gradient(to bottom,
		rgba(0,0,0,.7),
		rgba(255,255,255,0));
	margin:0;
	padding:.5cm;
	z-index:1;
}
	h1>span {
		font-size: small;
	}

/* roads */
card {
	border:0;
}
/* setup individual border widths */
.top {
	border-top: .7cm solid white
}
.right {
	border-right: .7cm solid white
}
.bottom, .straight {
	border-bottom: .7cm solid white
}
.left {
	border-left: .7cm solid white
}
/* override with styling */
.card {
	border-color: rgba(240,240,240,.9);
	border-style: solid;
	/*border-image: url('images/cobblestone_texture_tileable_by_kuroyumegd-d5xb747.jpg') 100 repeat;*/
}

pair {
	position: relative;
	width: 4.5cm;
	height: 4.5cm;
	float: left;
	page-break-inside: avoid;
}

.bogan,
.hipster {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;

	transform: rotateY(180deg);

	transition: all 1s ease;
}
.bogan .bogan,
.hipster .hipster {
	display: block;
	z-index: 2;
	transform: rotateY(0);
}

.bogan>h1 {
	font-family: 'Lobster Two', cursive;
}

.hipster>h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1;
}

category,
counter {
	position: absolute;
	z-index: 2;
	bottom: .2cm;
	right: .5cm;
	font-size: .5em;
	text-align: right;
	text-transform: uppercase;
	opacity: .8;
	text-shadow: 1px 1px 0 #000;
}
counter {
	left: .5cm;
	text-align: left;
}
.card:after {
	content: "";
	position: absolute;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 1;
}
.bogan:after {
	background: url(images/bowie.svg) 90% 50% no-repeat;
	opacity: 1;
}
.hipster:after {
	background: url(images/mo.svg) 50% 50% no-repeat;
}

@media print {
	body {
		background: none
	}
	.no-print {
		display: none
	}
}